body{
	background-color: #EFEDDF;/*#ad5016;*/
	font-family: 'Lato',arial,verdana,helvetica,sans-serif;
	color: #666;
	/*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-weight: 200;*/
}
.content{background-color: white;}
.small-text{
	font-size: 0.75rem;
	line-height: 0.75rem;
}
#CDSWIDFRR, #CDSWIDSSP, #CDSWIDCOE {
	margin: 0 auto !important;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
	width: 100% !important;
}
.share_btn{
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	padding: 0 5px;
}
.top-bar-section ul li > a, .top-bar .name h1 a {
	font-family: Georgia, georgiaz, serif;
	font-style: italic;
	font-size: 1.1rem;
}
h1, h2, h3, h4, h5, h6, strong{
	color: #b1181e;
}
@media only screen and (min-width: 40.063em){
	h1{
		font-size: 2em;
	}
}

p, ul{
	font-size: 1.1rem;
	font-weight: lighter;
}

footer{
	background-color: #0F6007;
	color: white;
	padding: 1rem 0;
}
footer p, footer ul{
	font-size: .9rem;
	margin-bottom: .6rem
}
footer h5, footer strong, footer a{color: white; padding-bottom: 5px}
footer h5{border-bottom: 1px solid #2E6F27;}
footer a:hover, footer a:focus{text-decoration: underline;color: #EFEDDF;}
footer ul{list-style: none;	margin: 0;}
footer li{margin: 0;padding: 0;}

.th {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
}

.title-area .title{
	line-height: 45px;
	font-size: 1.1rem;
	margin: 0;
	font-weight: bold;
	color: #fff;
	padding-left: 5px;
}