<li><img src="//d3bgb83gsu3958.cloudfront.net/imagenes/iruyaonline_01.jpg" alt="slide 1" /></li>
<li class="active"><img src="//d3bgb83gsu3958.cloudfront.net/imagenes/iruyaonline_02.jpg" alt="slide 2" /></li>
<li><img src="//d3bgb83gsu3958.cloudfront.net/imagenes/iruyaonline_03.jpg" alt="slide 3" /></li>